In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
from IPython.display import Math, Latex
from IPython.core.display import Image
from scipy.stats import norm
import seaborn as sns
import numpy as np
import pandas as pd
import math
import statistics
import scipy.stats
import statsmodels.api as sm

In [22]:
df = pd.read_csv('bank-full.csv')
print ('Data read into a pandas dataframe!')

Data read into a pandas dataframe!

In [23]:
df.head()

  age;job;marital;education;default;balance;housing;loan;contact;day;month;duration;campaign;pdays;previous;poutcome;y
0  58;management;married;tertiary;no;2143;yes;no;...
1  44;technician;single;secondary;no;29;yes;no;un...
2  33;entrepreneur;married;secondary;no;2;yes;yes...
3  47;blue-collar;married;unknown;no;1506;yes;no;...
4  33;unknown;single;unknown;no;1;no;no;unknown;5...

In [19]:
df.tail()

      age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
45206  51;"technician";"married";"tertiary";"no";825;...
45207  71;"retired";"divorced";"primary";"no";1729;"n...
45208  72;"retired";"married";"secondary";"no";5715;"...
45209  57;"blue-collar";"married";"secondary";"no";66...
45210  37;"entrepreneur";"married";"secondary";"no";2...

In [20]:
df.shape

(45211, 1)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 1 columns):
 #   Column                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                --------------  -----
 0   age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"  45211 non-null  object
dtypes: object(1)
memory usage: 353.3+ KB